/* Import all required stylesheets */
@import url('/assets/css/bootstrap.min.css');
@import url('/assets/css/icons.min.css');
@import url('/assets/css/app.min.css');
@import url('/assets/libs/choices.js/public/assets/styles/choices.min.css');
@import url('/assets/libs/swiper/swiper-bundle.min.css');

/* Additional custom styles if needed */

@tailwind base;
@tailwind components;
@tailwind utilities;